In [1]:
import pandas as pd
import numpy as np

In [2]:
df =  pd.read_csv("1.csv")

In [3]:
df.shape

(28078, 7)

In [4]:
df.isnull().sum()

match_id         0
venue            0
innings          0
batting_team     0
bowler           0
wickets_taken    0
economy          0
dtype: int64

In [5]:
df.dtypes

match_id           int64
venue             object
innings            int64
batting_team      object
bowler            object
wickets_taken      int64
economy          float64
dtype: object

In [6]:
df["venue"].value_counts()

Harare Sports Club                                 1376
Shere Bangla National Stadium                      1102
Dubai International Cricket Stadium                 573
R Premadasa Stadium                                 558
Sheikh Zayed Stadium                                544
                                                   ...
Nahar Singh Stadium, Faridabad                        8
The Royal & Sun Alliance County Ground, Bristol       8
Darren Sammy National Cricket Stadium, St Lucia       7
County Ground, Bristol                                5
Queen's Park Oval                                     4
Name: venue, Length: 293, dtype: int64

In [7]:
df.corr()

C:\Users\Karthik Avinash\AppData\Local\Temp\ipykernel_20120\1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

               match_id   innings  wickets_taken   economy
match_id       1.000000  0.009347       0.010176  0.039046
innings        0.009347  1.000000      -0.063527 -0.077359
wickets_taken  0.010176 -0.063527       1.000000  0.088358
economy        0.039046 -0.077359       0.088358  1.000000

In [8]:
# match_id = label_encode
# venue = label_encode
# batting_team = label_encode
# bowler = label_encode

In [9]:
from sklearn.preprocessing import LabelEncoder
import joblib

# Use LabelEncoder to encode categorical variables
label_encoder_venue = LabelEncoder()
label_encoder_batting_team = LabelEncoder()
label_encoder_bowler = LabelEncoder()

# Encode 'venue', 'batting_team', and 'bowler' columns
df['venue'] = label_encoder_venue.fit_transform(df['venue'])
df['batting_team'] = label_encoder_batting_team.fit_transform(df['batting_team'])
df['bowler'] = label_encoder_bowler.fit_transform(df['bowler'])

# Replace match_id with numbers starting from 1
df['match_id'] = df.groupby('match_id').ngroup() + 1

# Save the label_encoders for future reference
joblib.dump(label_encoder_venue, 'label_encoder_venue.pkl')
joblib.dump(label_encoder_batting_team, 'label_encoder_batting_team.pkl')
joblib.dump(label_encoder_bowler, 'label_encoder_bowler.pkl')

# Display the modified DataFrame
print(df)

       match_id  venue  innings  batting_team  bowler  wickets_taken   economy
0             1    152        1            17      14              0  5.500000
1             1    152        1            17     466              1  7.102041
2             1    152        1            17     519              3  3.870968
3             1    152        1            17    1076              0  3.290323
4             1    152        1            17    1078              1  2.400000
...         ...    ...      ...           ...     ...            ...       ...
28073      2379    234        1            17     470              1  4.721311
28074      2379    234        1            17     667              3  6.000000
28075      2379    234        1            17     803              3  4.500000
28076      2379    234        1            17     854              2  7.125000
28077      2379    234        1            17     897              1  5.387755

[28078 rows x 7 columns]

In [10]:
len(df["match_id"].unique())

2379

In [12]:
df.corr()

,match_id,venue,innings,batting_team,bowler,wickets_taken,economy
match_id,1.000000,0.032703,0.009177,0.062426,-0.020215,0.009083,0.041858
venue,0.032703,1.000000,-0.002049,-0.024293,0.007393,-0.001577,0.008633
innings,0.009177,-0.002049,1.000000,0.018129,0.007080,-0.063527,-0.077359
batting_team,0.062426,-0.024293,0.018129,1.000000,-0.004152,0.018710,-0.021362
bowler,-0.020215,0.007393,0.007080,-0.004152,1.000000,0.000758,0.010665
wickets_taken,0.009083,-0.001577,-0.063527,0.018710,0.000758,1.000000,0.088358
economy,0.041858,0.008633,-0.077359,-0.021362,0.010665,0.088358,1.000000

In [16]:
# Assuming df is your DataFrame
bins = [0, 10, 20, 36]  # Adjust the bins based on economy values
labels = ['Best Bowler', 'Better Bowler', 'Good Bowler']

# Create a new column 'economy_category' based on the bins and labels
df['economy_category'] = pd.cut(df['economy'], bins=bins, labels=labels, include_lowest=True)

In [17]:
df["economy_category"].value_counts()

Best Bowler      24762
Better Bowler     2498
Good Bowler        818
Name: economy_category, dtype: int64

In [18]:
df.columns

Index(['match_id', 'venue', 'innings', 'batting_team', 'bowler',
       'wickets_taken', 'economy', 'economy_category'],
      dtype='object')

In [21]:
df = df.drop("economy",axis = 1)

In [22]:
df.columns

Index(['match_id', 'venue', 'innings', 'batting_team', 'bowler',
       'wickets_taken', 'economy_category'],
      dtype='object')

In [23]:
df.to_csv("2.csv",index=False)